// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background-color: #212121;
  box-shadow: 1px 1px white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.banner {
  margin-bottom: 50px;
  background-color: #212121;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-page-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  // box-shadow: 0 0 20px #000;
}

.link-text-home {
  color: white !important;
}

.form-box-page {
  margin-top: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
}
