<div class="banner">
  <div class="container">
    <h1>Share your stories <strong>with people across</strong> the <strong>world wide web</strong>!</h1>
    <p>Sign up and start sharing your stories with us!</p>
    <a class="btn btn-flat" target='_blank' href="https://avatar.fandom.com/wiki/Avatar_Wiki">Stories</a>
  </div>
</div>

<div class="container">
  <div class="home-page-card">
    <strong><h1>Tell us your story!</h1></strong>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique jou ma praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
    </p>

    <p>
      Lorem ipsum dolor daniel en christiaan is noobs sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
    </p>

  </div>
</div>
