<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.liverpool-one.com/wp-content/uploads/2016/10/joe-and-the-juice.jpg)" class="banner">
  <div class="container">
    <h1>Share your stories <strong>with people across</strong> the <strong>world wide web</strong>!</h1>
    <p>Sign up and start sharing your stories with us!</p>
      <%= link_to "Stories", posts_path, class: "btn  btn-flat" %>
  </div>
</div>

<div class="container">

  <div class="home-page-card">
    <strong><h1>Tell us your story!</h1></strong>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
    </p>

    <p>
      Lorem ipsum dolor daniel en christiaan is noobs sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
    </p>
  </div>

    <div class="sign-container">
      <div class="sign">
        <span class="fast-flicker">T</span>ow<span class="flicker">e</span>r42
      </div>
    </div>

    <div class="home-page-border">
      <div class="home-page-pic">
      </div>
    </div>

</div>

<%= image_tag "pict.jpg" %>