<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.liverpool-one.com/wp-content/uploads/2016/10/joe-and-the-juice.jpg)" class="banner">
  <div class="container">
    <h1>Share your stories <strong>with people across</strong> the <strong>world wide web</strong>!</h1>
    <p>Sign up and start sharing your stories with us!</p>
      <%= link_to "Stories", posts_path, class: "btn  btn-flat" %>
      <%= link_to "Covers", team_path, class: "btn  btn-flat", style: "margin-left: 5px;" %>
  </div>
</div>

<div class="container">

  <div class="home-page-card">
    <strong><h1>Share your story!</h1></strong>
    
    <p style="font-size: 17px;">
      When I started working at JOE, I realised that it's not your ordinary everyday workplace. 
      I was busy at the sandwich station and a guy out of nowhere hit the lamps and shouted vibes! I then immediately realised that I am out of my comfort zone. 
      The next thing I noticed is that everyone I spoke to had some crazy story about JOE or working at JOE and how fun the JOE parties are. 
      So that got me thinking, let me use my coding skills and build a website where people from JOE can share their stories and past experiences.
    </p>

    <p style="font-size: 17px;">
      I here present you JOEBOOK, a website/app where you can share your stories and past experiences
      as well as comment on them and see what people think about your story. You can also do other things like add profile
      pictures, add your JOE code so people can know how long you have been at JOE and add which store you work in.
    </p>

    <p style="font-size: 17px;">
      With this website/app I am currently working on a couple of new features such as a store covers page where the BM
      can post if he/she will need a cover for their store. As an employee, you can post if you would 
      like to pick up any shifts in certain stores. I am doing this so you don't have to go onto Facebook 
      and have a look there, which might be time-consuming.
    </p>

  </div>

    <div class="sign-container">
      <div class="sign">
        <span class="fast-flicker">T</span>ow<span class="flicker">e</span>r42
      </div>
    </div>

    <div class="home-page-border">
      <%= image_tag "tower.jpg", class: 'heloo' %>
    </div>

</div>



