<div class="banner">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
<div class="checkout">
  <h1>Tell us your story!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
  </p>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
  </p>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, in nobis obcaecati quia non eos placeat explicabo voluptas? Ipsam qui obcaecati quaerat neque quos debitis accusamus beatae magnam, deleniti nisi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem similique praesentium illo, quibusdam neque sapiente voluptatum reprehenderit accusantium deleniti corporis eius officiis animi? Temporibus repellat amet expedita aliquid ipsa.
  </p>
</div>
</div>
