<div class="banner">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis earum laboriosam error voluptatibus dignissimos maiores ea doloremque explicabo provident quod animi excepturi eius in accusantium, ipsum at ducimus voluptates magnam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit vel adipisci explicabo rerum veniam impedit laudantium dolore ex nemo deserunt qui possimus, vitae quae veritatis iusto eius incidunt atque.