<div class="container team-page">
  <h1>This page is currently under construction, I would work more on this website but I'am to busy doing e-smiley tasks </h1>
  <img src="https://img.forconstructionpros.com/files/base/acbm/fcp/image/2019/02/GettyImages_xavierarnau.5c70703e85023.png?auto=format%2Ccompress&fit=crop&h=288&q=70&w=512" alt="">
  <img src="https://www.planradar.com/wp-content/uploads/2020/12/IT-skills-construction.jpg.webp" alt="">
</div>