<div class="container">
  <div class="index-box-page">
    <h1><%= @post.title %></h1>
    <h5><%= @post.store_name %> || Robert Nemeth || <%= @post.position %></h5>
    <p><%= @post.story %></p>
  </div>
</div>