<div id="footers" class="footer">
  <div style="margin-left: 55px;" class="footer-links">
    <a href="https://www.joejuice.com/" target="_blank"><i class="fas fa-home"></i></a>
    <a href="https://www.instagram.com/joeandthejuice/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/joeandthejuice/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div style="margin-right: 65px;" class="footer-copyright">
    This website is made by some cool guy at Tower42 <i class="fas fa-power-off"></i>
  </div>
</div>
